<!-- admin/categories/category_edit_modal.html -->
{% load crispy_forms_tags %}
<form id="editCategoryForm" method="post" action="{% url 'category_edit' category.id %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">✏️ Editar Categoría: {{ category.name }}</h5>
        <a type="a" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></a>
    </div>

    <div id="modal-alert-container" class="p-2"></div>

    <div class="modal-body">
        {{ form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

<script>
    $("#editCategoryForm").on("submit", function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr("action"),
            method: "POST",
            data: $(this).serialize(),
            success: function (resp) {
                if (resp.success) {
                    $("#modal-alert-container").html(`
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        ✅ ${resp.message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                `);

                    let row = $("#row-category-" + resp.data.id);
                    row.find(".td-name").text(resp.data.name);

                    setTimeout(() => { $("#modal_datos").modal("hide"); }, 500);
                } else {
                    $("#modal-alert-container").html(`
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        ❌ Corrige los errores: ${JSON.stringify(resp.errors)}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                `);
                }
            },
            error: function () {
                $("#modal-alert-container").html(`
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    ⚠️ Error al enviar formulario.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            `);
            }
        });
    });
</script>