body {

    color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    background-color: transparent;
    /* transparente */
    color: black;
    padding: 2rem;
    border-radius: 15px;

    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

a {
    margin-bottom: 1.5rem;
    color: black;
    text-decoration: none;
}


.form-control {
    border-radius: 10px;
}



